@import 'variables';
@import 'bootswatch';

[hidden] {
  display: none !important;
}

pre.code {
    padding: 0;
    margin: 0;
    background-color: #333;
    height: 229px;
}

code.hljs {
    margin-top: -30px;
    margin-bottom: -30px;
}